@import "tailwindcss";

@font-face {
  font-family: 'primaryFont';
  src: url('./fonts/NeueMontreal-Regular.otf');
}

@font-face {
  font-family: 'secondaryFont';
  src: url('./fonts/Panchang-Bold.ttf');
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'primaryFont';
}

body,html{
  width: 100%;
  height: 100%; 
}

body::-webkit-scrollbar{
  display: none;
}

#Name{
  font-family: 'secondaryFont';
}